<div
  class="w-screen h-screen overflow-hidden flex flex-row justify-start items-stretch"
>
  <div class="w-1/3 h-full flex flex-col items-stretch">
    <div class="h-24 w-full bg-blue-200">
      <textarea
        [(ngModel)]="originText"
        placeholder="明文"
        class="h-full w-full block box-border resize-none border-none bg-transparent focus-visible:outline-none focus:outline-none"
      ></textarea>
    </div>
    <div
      class="h-10 w-full bg-blue-400 text-center leading-10 select-none cursor-pointer"
      (click)="handlePushList()"
    >
      添加算法
    </div>
    <div class="flex-1 bg-orange-200">
      <div
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        class="border-x border-solid border-b-0 border-t border-slate-400 box-border"
      >
        <div
          class="bg-purple-200 border-b b border-solid border-slate-400 border-t-0 border-x-0 px-2 py-4 cursor-pointer box-border"
          *ngFor="let item of list; let i = index"
          cdkDrag
          (click)="handleClick(i)"
        >
          <div
            *cdkDragPlaceholder
            class="bg-purple-200 border-b b border-solid border-slate-400 border-t-0 border-x-0 px-2 py-4 cursor-pointer box-border"
          ></div>
          <span class="text-sm px-2 py-1 bg-white mr-2 rounded-sm">{{
            i + 1
          }}</span>
          <span class="text-sm px-2 py-1 bg-lime-200 rounded-sm mr-2">{{
            item.label
          }}</span>
          <span class="text-sm px-2 py-1 bg-indigo-300 rounded-sm mr-2">{{
            item.extension.case | uppercase
          }}</span>
          <span class="text-sm px-2 py-1 bg-fuchsia-300 rounded-sm mr-2">{{
            item.extension.repeat
          }}</span>
        </div>
      </div>
    </div>
    <div
      class="h-10 w-full bg-green-400 text-center leading-10 select-none cursor-pointer"
      (click)="handleExec()"
    >
      计算
    </div>
    <div class="h-24 w-full bg-green-200">
      <textarea
        [(ngModel)]="crypted"
        placeholder="密文"
        class="h-full w-full block box-border resize-none border-none bg-transparent focus-visible:outline-none focus:outline-none"
      ></textarea>
    </div>
  </div>
  <div class="p-4 w-1/3 h-full flex flex-col items-stretch bg-yellow-200">
    <ng-container *ngIf="editIndex !== null && list[editIndex]">
      <div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>算法选择</mat-label>
          <mat-select [(ngModel)]="list[editIndex].label">
            <mat-optgroup
              *ngFor="let group of groupList | keyvalue"
              [label]="group.key"
            >
              <mat-option
                *ngFor="let groupItem of group.value"
                [value]="groupItem.algorithm"
              >
                {{ groupItem.algorithm }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>输出大小写选择</mat-label>
          <mat-select [(ngModel)]="list[editIndex].extension.case">
            <mat-option value="lower"> 小写 </mat-option>
            <mat-option value="upper"> 大写 </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <div class="flex flex-row justify-between items-center">
          <div class="text-slate-800 text-sm">重复次数</div>
          <div class="text-slate-800 text-sm rounded bg-white px-1">
            {{ list[editIndex].extension.repeat }} 次
          </div>
        </div>
        <mat-slider
          class="!w-full"
          [max]="10"
          [min]="1"
          [step]="1"
          [discrete]="true"
          [showTickMarks]="false"
        >
          <input
            matSliderThumb
            [(ngModel)]="list[editIndex].extension.repeat"
          />
        </mat-slider>
      </div>
      <div *ngIf="algorithmDict[list[editIndex].label] === 'hmac-hash'">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>盐</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="list[editIndex].extension.salt"
          />
        </mat-form-field>
      </div>
    </ng-container>
  </div>
  <div class="w-1/3">
    <pre><code [highlight]="list|json" [languages]="['json']"></code></pre>
  </div>
</div>
